<a href="https://colab.research.google.com/github/woshimajintao/BDM-Project/blob/main/Part%202/BDM_P2_Formatted_Exploitation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark
!pip install delta-spark
!pip install statsmodels
!pip install mlflow

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: delta-spark in /usr/local/lib/python3.10/dist-packages (3.2.0)
Requirement already satisfied: pyspark<3.6.0,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from delta-spark) (3.5.1)
Requirement already satisfied: importlib-metadata>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from delta-spark) (7.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=1.0.0->delta-spark) (3.19.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark<3.6.0,>=3.5.0->delta-spark) (0.10.9.7)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (0.14.2)
Requirement already satisfied: numpy>=1.22.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.25.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.11.4)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (2.0.3)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Requirement already satisfied: mlflow in /usr/local/lib/python3.10/dist-packages (2.14.0)
Requirement already satisfied: Flask<4 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.2.5)
Requirement already satisfied: alembic!=1.10.0,<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.13.1)
Requirement already satisfied: cachetools<6,>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (8.1.7)
Requirement already satisfied: cloudpickle<4 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.2.1)
Requirement already satisfied: docker<8,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (7.1.0)
Requirement already satisfied: entrypoints<1 in /usr/local/lib/python3.10/dist-packages (from mlflow) (0.4)
Requirement already satisfied: gitpython<4,>=3.1.9 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.1.43)
Requirement already satisfied: graphene<4 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.3)
Requirement already satisfied: importlib-metadata!=4.7.0,<8,>=3.7.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (7.1.0)
Requirement already satisfied: markdown<4,>=3.3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.6)
Requirement already satisfied: matplotlib<4 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.7.1)
Requirement already satisfied: numpy<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.25.2)
Requirement already satisfied: opentelemetry-api<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.25.0)
Requirement already satisfied: opentelemetry-sdk<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.25.0)
Requirement already satisfied: packaging<25 in /usr/local/lib/python3.10/dist-packages (from mlflow) (24.1)
Requirement already satisfied: pandas<3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.0.3)
Requirement already satisfied: protobuf<5,>=3.12.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.20.3)
Requirement already satisfied: pyarrow<16,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (14.0.2)
Requirement already satisfied: pytz<2025 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2023.4)
Requirement already satisfied: pyyaml<7,>=5.1 in /usr/local/lib/python3.10/dist-packages (from mlflow) (6.0.1)
Requirement already satisfied: querystring-parser<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.2.4)
Requirement already satisfied: requests<3,>=2.17.3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.31.0)
Requirement already satisfied: scikit-learn<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.2.2)
Requirement already satisfied: scipy<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.11.4)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.0.30)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (0.5.0)
Requirement already satisfied: Jinja2<4,>=2.11 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.1.4)
Requirement already satisfied: gunicorn<23 in /usr/local/lib/python3.10/dist-packages (from mlflow) (22.0.0)
Requirement already satisfied: Mako in /usr/local/lib/python3.10/dist-packages (from alembic!=1.10.0,<2->mlflow) (1.3.5)
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.10/dist-packages (from alembic!=1.10.0,<2->mlflow) (4.12.2)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.10/dist-packages (from docker<8,>=4.0.0->mlflow) (2.0.7)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask<4->mlflow) (3.0.3)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask<4->mlflow) (2.2.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from gitpython<4,>=3.1.9->mlflow) (4.0.11)
Requirement already satisfied: graphql-core<3.3,>=3.1 in /usr/local/lib/python3.10/dist-packages (from graphene<4->mlflow) (3.2.3)
Requirement already satisfied: graphql-relay<3.3,>=3.1 in /usr/local/lib/python3.10/dist-packages (from graphene<4->mlflow) (3.2.0)
Requirement already satisfied: aniso8601<10,>=8 in /usr/local/lib/python3.10/dist-packages (from graphene<4->mlflow) (9.0.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata!=4.7.0,<8,>=3.7.0->mlflow) (3.19.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2<4,>=2.11->mlflow) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (4.53.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (2.8.2)
Requirement already satisfied: deprecated>=1.2.6 in /usr/local/lib/python3.10/dist-packages (from opentelemetry-api<3,>=1.9.0->mlflow) (1.2.14)
Requirement already satisfied: opentelemetry-semantic-conventions==0.46b0 in /usr/local/lib/python3.10/dist-packages (from opentelemetry-sdk<3,>=1.9.0->mlflow) (0.46b0)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3->mlflow) (2024.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from querystring-parser<2->mlflow) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.17.3->mlflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.17.3->mlflow) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.17.3->mlflow) (2024.6.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2->mlflow) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2->mlflow) (3.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<3,>=1.4.0->mlflow) (3.0.3)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.10/dist-packages (from deprecated>=1.2.6->opentelemetry-api<3,>=1.9.0->mlflow) (1.14.1)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from gitdb<5,>=4.0.1->gitpython<4,>=3.1.9->mlflow) (5.0.1)

In [43]:
import mlflow
import mlflow.spark
from google.colab import drive
from pyspark.sql import SparkSession
from pyspark.mllib.regression import LabeledPoint, LinearRegressionWithSGD
from pyspark.mllib.evaluation import RegressionMetrics
from pyspark.mllib.feature import StandardScaler
from pyspark.sql.functions import col, avg, count, when, datediff, current_date, to_date, regexp_replace, month, dayofmonth, sum as _sum, coalesce, lit, isnan, unix_timestamp, lag, from_json, lead
from pyspark.sql.types import StructType, StructField, DoubleType, IntegerType, LongType, StringType
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from delta.tables import DeltaTable
from delta import configure_spark_with_delta_pip
import os
import json
import time
import glob
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# Initialize a Spark session
builder = SparkSession.builder \
    .appName("DataProcessingWithDeltaLake") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.2.1") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

delta_extensions = spark.conf.get("spark.sql.extensions", "")
print("Delta Lake loaded:", "io.delta.sql.DeltaSparkSessionExtension" in delta_extensions)

Delta Lake loaded: True

# Formatter

## Process Airport Data

Data Ingestion

In [5]:
file_path = "/content/drive/MyDrive/BDM/Data/Landing_Zone/2023_TransitAeri_FlightRadar_Ppal_Pais.csv"
airport_df = spark.read.options(inferSchema=True, header=True).csv(file_path)
airport_df.show()

+---------------+---------+--------------------+-----------+
|Data_Referencia|Codi_Pais|            Nom_Pais|Nombre_Vols|
+---------------+---------+--------------------+-----------+
|     2023-01-01|        1|             Espanya|        193|
|     2023-01-01|        2|              Itàlia|         63|
|     2023-01-01|        3|          Regne Unit|         57|
|     2023-01-01|        4|              França|         63|
|     2023-01-01|        5|            Alemanya|         50|
|     2023-01-01|        6|            Portugal|         26|
|     2023-01-01|        7|       Països Baixos|         28|
|     2023-01-01|        8|              Suïssa|         26|
|     2023-01-01|        9|             Bèlgica|         10|
|     2023-01-01|       10|          Marroc, el|         21|
|     2023-01-01|       11|   Estats Units, els|          9|
|     2023-01-01|       12|             Àustria|          5|
|     2023-01-01|       13|             Irlanda|         12|
|     2023-01-01|       14|             Turquia|         10|
|     2023-01-01|       15|             Polònia|          8|
|     2023-01-01|       16|           Dinamarca|         10|
|     2023-01-01|       17|             Romania|          6|
|     2023-01-01|       18|              Grècia|          4|
|     2023-01-01|       19|              Suècia|         10|
|     2023-01-01|       20|Emirats Àrabs Uni...|          6|
+---------------+---------+--------------------+-----------+
only showing top 20 rows

Data Cleaning

In [6]:
# Drop duplicates
airport_df_cleaned = airport_df.dropDuplicates()

# Handle missing values
airport_df_cleaned = airport_df_cleaned.dropna()

airport_df_cleaned.show()
airport_df_cleaned.printSchema()

+---------------+---------+--------------------+-----------+
|Data_Referencia|Codi_Pais|            Nom_Pais|Nombre_Vols|
+---------------+---------+--------------------+-----------+
|     2023-01-02|        6|            Portugal|         29|
|     2023-01-30|        7|       Països Baixos|         20|
|     2023-02-21|        3|          Regne Unit|         58|
|     2023-02-22|       13|             Irlanda|          8|
|     2023-03-03|       23|               Qatar|          4|
|     2023-03-09|        2|              Itàlia|         75|
|     2023-03-16|        2|              Itàlia|         74|
|     2023-03-16|       23|               Qatar|          4|
|     2023-03-17|        7|       Països Baixos|         28|
|     2023-03-28|        5|            Alemanya|         65|
|     2023-03-31|        6|            Portugal|         40|
|     2023-04-02|       20|Emirats Àrabs Uni...|          6|
|     2023-04-03|        9|             Bèlgica|         22|
|     2023-04-18|       16|           Dinamarca|         10|
|     2023-04-23|        9|             Bèlgica|         16|
|     2023-04-30|       26|             Noruega|          8|
|     2023-05-10|       22|             Hongria|          4|
|     2023-05-14|        2|              Itàlia|         96|
|     2023-06-19|        9|             Bèlgica|         19|
|     2023-06-28|       22|             Hongria|          4|
+---------------+---------+--------------------+-----------+
only showing top 20 rows

root
 |-- Data_Referencia: date (nullable = true)
 |-- Codi_Pais: integer (nullable = true)
 |-- Nom_Pais: string (nullable = true)
 |-- Nombre_Vols: integer (nullable = true)

Data Transformation

In [7]:
# Calculate total tourists per country and find top 5 countries
country_tourists = airport_df_cleaned.groupBy("Nom_Pais").agg(_sum("Nombre_Vols").alias("total_tourists"))
top_countries = country_tourists.orderBy(col("total_tourists").desc()).limit(5)
top_country_list = [row['Nom_Pais'] for row in top_countries.collect()]

# Filter and pivot the DataFrame for the top 5 countries
pivot_df = airport_df_cleaned.filter(col("Nom_Pais").isin(top_country_list)).groupBy("Data_Referencia").pivot("Nom_Pais").agg(_sum("Nombre_Vols"))

# Add a new column for total tourists and fill NaNs with zeros
for country in top_country_list:
    pivot_df = pivot_df.withColumn(country, coalesce(col(country), lit(0)))

pivot_df = pivot_df.withColumn("total_tourists", sum(col(country) for country in top_country_list))

airport_df_final = pivot_df.orderBy("Data_Referencia")

column_renames = {
    "Data_Referencia": "Date",
    "Alemanya": "Germany_Tourists",
    "Espanya": "Spain_Tourists",
    "França": "France_Tourists",
    "Itàlia": "Italy_Tourists",
    "Regne Unit": "UK_Tourists",
    "total_tourists": "Total_Tourists"
}

for old_col, new_col in column_renames.items():
    airport_df_final = airport_df_final.withColumnRenamed(old_col, new_col)

airport_df_final.show(5)

+----------+----------------+--------------+---------------+--------------+-----------+--------------+
|      Date|Germany_Tourists|Spain_Tourists|France_Tourists|Italy_Tourists|UK_Tourists|Total_Tourists|
+----------+----------------+--------------+---------------+--------------+-----------+--------------+
|2023-01-01|              50|           193|             63|            63|         57|           426|
|2023-01-02|              56|           212|             67|            82|         73|           490|
|2023-01-03|              54|           227|             57|            80|         59|           477|
|2023-01-04|              57|           217|             54|            71|         62|           461|
|2023-01-05|              53|           195|             55|            79|         55|           437|
+----------+----------------+--------------+---------------+--------------+-----------+--------------+
only showing top 5 rows

## Process Listing Data

Data Ingestion

In [8]:
file_path = "/content/drive/MyDrive/BDM/Data/Landing_Zone/listings.csv"
listings_df = spark.read.csv(file_path, header=True, inferSchema=True)
listings_df.show(5)

+------+--------------------+-------+--------------+-------------------+--------------------+-----------------+-----------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+
|    id|                name|host_id|     host_name|neighbourhood_group|       neighbourhood|         latitude|        longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|    license|
+------+--------------------+-------+--------------+-------------------+--------------------+-----------------+-----------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+
| 17475|Rental unit in 08...|  65623|          Luca|           Eixample|la Dreta de l'Eix...|         41.39939|          2.17044|Entire home/apt|  140|             5|               26| 2023-12-04|             0.16|                             1|              32|                    9|       NULL|
| 18674|Rental unit in Ba...|  71615| Mireia  Maria|           Eixample|  la Sagrada Família|         41.40556|          2.17262|Entire home/apt|  121|             1|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|
|198958|Rental unit in Ba...| 971768|         Laura|         Sant Martí|Diagonal Mar i el...|         41.40805|          2.21487|Entire home/apt|  304|             2|              105| 2023-10-16|             0.74|                             9|             137|                   26|HUTB-000926|
| 23197|Rental unit in Sa...|  90417|Etain (Marnie)|         Sant Martí|el Besòs i el Mar...|41.41243172529066|2.219750335269476|Entire home/apt|  200|             3|               75| 2023-11-25|             0.48|                             2|             300|                   11| HUTB005057|
| 32711|Rental unit in Ba...| 135703|          Nick|             Gràcia|el Camp d'en Gras...|         41.40566|          2.17015|Entire home/apt|   79|             1|               99| 2023-10-18|             0.66|                             3|             297|                   16|HUTB-001722|
+------+--------------------+-------+--------------+-------------------+--------------------+-----------------+-----------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+
only showing top 5 rows

Data Cleaning

In [9]:
listings_df_cleaned = listings_df.dropDuplicates().dropna()

Data Transformation

In [10]:
listings_df_cleaned = listings_df_cleaned.fillna({'license': 'Unknown', 'reviews_per_month': 0})

# Convert price to integer
listings_df_cleaned = listings_df_cleaned.withColumn("price", col("price").cast("integer"))

# Calculate average price per neighbourhood
avg_price_per_neighbourhood = listings_df_cleaned.groupBy("neighbourhood").agg(avg("price").alias("avg_price"))

# Calculate number of listings per neighbourhood
count_listings_per_neighbourhood = listings_df_cleaned.groupBy("neighbourhood").agg(count("id").alias("listings_count"))

# Handle date columns
listings_df_cleaned = listings_df_cleaned.withColumn("last_review", col("last_review").cast("date"))
listings_df_cleaned = listings_df_cleaned.withColumn("days_since_last_review", datediff(current_date(), col("last_review")))

listings_df_final = listings_df_cleaned.withColumn(
    "room_type_encoded",
    when(col("room_type") == "Entire home/apt", 1)
    .when(col("room_type") == "Private room", 2)
    .when(col("room_type") == "Shared room", 3)
    .when(col("room_type") == "Hotel room", 4)
    .otherwise(0)
)

listings_df_final = listings_df_final.drop("price")
listings_df_final = listings_df_final.drop("minimum_nights")
listings_df_final = listings_df_final.drop("maximum_nights")

listings_df_final.show(5)

+------+--------------------+-------+----------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------------+----------------------+-----------------+
|    id|                name|host_id| host_name|neighbourhood_group|       neighbourhood|latitude|longitude|      room_type|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|      license|days_since_last_review|room_type_encoded|
+------+--------------------+-------+----------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------------+----------------------+-----------------+
|206167|Rental unit in Ba...|1014050|   Minerva|     Sants-Montjuïc|        el Poble Sec| 41.3724|   2.1648|Entire home/apt|              142| 2023-10-12|             0.96|                             1|               0|                   22|  HUTB-009804|                   251|                1|
|576046|Rental unit in Ba...|2833463|    Josefa|           Eixample|  la Sagrada Família|41.40315|  2.18462|   Private room|               52| 2023-07-31|             0.58|                             2|             314|                    1|       Exempt|                   324|                2|
|745275|Rental unit in Ba...|3678711|         J|             Gràcia|Vallcarca i els P...|41.41073|  2.14704|Entire home/apt|               46| 2023-11-19|             0.36|                            10|             168|                    5|HUTB - 004040|                   213|                1|
|811918|Rental unit in Ho...|4269183|      Alba|          Les Corts|la Maternitat i S...| 41.3779|  2.11991|Entire home/apt|              456| 2023-11-29|             3.42|                             5|              93|                   37|  HUTB-007730|                   203|                1|
|715036|Rental unit in Ba...|3682696|Montserrat|     Sants-Montjuïc|        el Poble Sec|41.37455|  2.16669|Entire home/apt|              329| 2023-11-29|             2.49|                             1|             177|                   48|  HUTB-007660|                   203|                1|
+------+--------------------+-------+----------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------------+----------------------+-----------------+
only showing top 5 rows

## Process Calendar Data

Data Ingestion

In [11]:
file_path = "/content/drive/MyDrive/BDM/Data/Landing_Zone/calendar.csv"
calendar_df = spark.read.csv(file_path, header=True, inferSchema=True)
calendar_df.show(5)

+----------+----------+---------+-------+--------------+--------------+--------------+
|listing_id|      date|available|  price|adjusted_price|minimum_nights|maximum_nights|
+----------+----------+---------+-------+--------------+--------------+--------------+
|    198958|2023-12-14|        t|$190.00|          NULL|             2|           365|
|    198958|2023-12-15|        t|$190.00|          NULL|             2|           365|
|    198958|2023-12-16|        t|$190.00|          NULL|             2|           365|
|    198958|2023-12-17|        t|$190.00|          NULL|             2|           365|
|    198958|2023-12-18|        t|$190.00|          NULL|             2|           365|
+----------+----------+---------+-------+--------------+--------------+--------------+
only showing top 5 rows

Data Cleaning

In [12]:
calendar_df_cleaned = calendar_df.dropDuplicates()
calendar_df_cleaned.cache()

# Remove currency symbols and commas from the price column, then convert to float
calendar_df_cleaned = calendar_df_cleaned.withColumn("price", regexp_replace(col("price"), "[$,]", "").cast("float"))
calendar_df_cleaned = calendar_df_cleaned.dropna(subset=["price"])

avg_price = calendar_df_cleaned.agg(avg("price")).first()[0]

# Handle missing values by filling missing prices with the average price
calendar_df_cleaned = calendar_df_cleaned.na.fill({'price': avg_price})

Data Transformation

In [13]:
calendar_df_cleaned = calendar_df_cleaned.withColumn("date", to_date(col("date"), 'yyyy-MM-dd'))

# Calculate availability percentage per listing_id
availability_df = calendar_df_cleaned.groupBy("listing_id").agg(
    (count(when(col("available") == "t", 1)) / count("available") * 100).alias("availability_percentage")
)

# Join availability_df back to the main dataframe
calendar_df_final = calendar_df_cleaned.join(availability_df, on="listing_id", how="left")

# Show the transformed DataFrame
calendar_df_final.show(5)

+----------+----------+---------+------+--------------+--------------+--------------+-----------------------+
|listing_id|      date|available| price|adjusted_price|minimum_nights|maximum_nights|availability_percentage|
+----------+----------+---------+------+--------------+--------------+--------------+-----------------------+
|     36763|2024-05-12|        t|  30.0|          NULL|            31|            65|     57.534246575342465|
|     36763|2024-02-07|        f|  30.0|          NULL|            31|            65|     57.534246575342465|
|     40983|2024-11-20|        t| 205.0|          NULL|             2|           364|      78.63013698630137|
|     46153|2024-03-03|        f|  70.0|          NULL|            31|          1125|      66.57534246575342|
|  20472746|2024-11-28|        t|1292.0|     $1,292.00|             4|             7|      88.76712328767124|
+----------+----------+---------+------+--------------+--------------+--------------+-----------------------+
only showing top 5 rows

## Data Integration

In [14]:
# Merge Listings and Calendar
merged_df = listings_df_final.join(calendar_df_final, listings_df_final.id == calendar_df_final.listing_id, "inner")
merged_df = merged_df.drop(calendar_df_final.listing_id)
merged_df.show(5)

+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+--------------+-----------------------+
|   id|                name|host_id|host_name|neighbourhood_group|       neighbourhood|latitude|longitude|      room_type|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|    license|days_since_last_review|room_type_encoded|      date|available|price|adjusted_price|minimum_nights|maximum_nights|availability_percentage|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+--------------+-----------------------+
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-10-29|        t|205.0|          NULL|             2|           364|      78.63013698630137|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-09-11|        t|205.0|          NULL|             2|           364|      78.63013698630137|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-07-24|        t|205.0|          NULL|             2|           364|      78.63013698630137|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-03-21|        t|205.0|          NULL|             2|           364|      78.63013698630137|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-11-01|        t|205.0|          NULL|             2|           364|      78.63013698630137|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+--------------+-----------------------+
only showing top 5 rows

In [15]:
# Merge with Airport Data
merged_df = merged_df.withColumn("month_day", col("date").substr(6, 5))
airport_df_final = airport_df_final.withColumn("month_day", col("Date").substr(6, 5))
final_merged_df = merged_df.join(airport_df_final.drop("Date"), on="month_day", how="inner")
final_merged_df = final_merged_df.drop("month_day")
final_merged_df = final_merged_df.drop("adjusted_price")

columns_to_drop = [col for col in final_merged_df.columns if col.endswith("price") and col != "price"]
final_merged_df = final_merged_df.drop(*columns_to_drop)

final_merged_df.show(5)

+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
|   id|                name|host_id|host_name|neighbourhood_group|       neighbourhood|latitude|longitude|      room_type|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|    license|days_since_last_review|room_type_encoded|      date|available|price|minimum_nights|maximum_nights|availability_percentage|Germany_Tourists|Spain_Tourists|France_Tourists|Italy_Tourists|UK_Tourists|Total_Tourists|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-10-29|        t|205.0|             2|           364|      78.63013698630137|              68|           238|             87|            93|         94|           580|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-09-11|        t|205.0|             2|           364|      78.63013698630137|              73|           275|             80|           105|         89|           622|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-07-24|        t|205.0|             2|           364|      78.63013698630137|              78|           283|             78|           102|         83|           624|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-03-21|        t|205.0|             2|           364|      78.63013698630137|              61|           247|             57|            73|         65|           503|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-11-01|        t|205.0|             2|           364|      78.63013698630137|              66|           236|             66|            98|         66|           532|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
only showing top 5 rows

In [16]:
final_merged_df.columns

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365',
 'number_of_reviews_ltm',
 'license',
 'days_since_last_review',
 'room_type_encoded',
 'date',
 'available',
 'price',
 'minimum_nights',
 'maximum_nights',
 'availability_percentage',
 'Germany_Tourists',
 'Spain_Tourists',
 'France_Tourists',
 'Italy_Tourists',
 'UK_Tourists',
 'Total_Tourists']

## Data Filtering

In [17]:
filtered_df = final_merged_df.filter(col("price") >= 0)
filtered_df = filtered_df.filter((col("date") >= "2020-01-01") & (col("date") <= "2024-06-15"))
filtered_df = filtered_df.dropna(subset=["price", "availability_percentage"])
filtered_df.show(5)

+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
|   id|                name|host_id|host_name|neighbourhood_group|       neighbourhood|latitude|longitude|      room_type|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|    license|days_since_last_review|room_type_encoded|      date|available|price|minimum_nights|maximum_nights|availability_percentage|Germany_Tourists|Spain_Tourists|France_Tourists|Italy_Tourists|UK_Tourists|Total_Tourists|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-03-21|        t|205.0|             2|           364|      78.63013698630137|              61|           247|             57|            73|         65|           503|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-05-27|        t|205.0|             2|           364|      78.63013698630137|              66|           227|             60|            92|         85|           530|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-03-29|        t|205.0|             2|           364|      78.63013698630137|              69|           272|             72|            89|         71|           573|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-05-02|        t|205.0|             2|           364|      78.63013698630137|              67|           259|             73|            99|         79|           577|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-01-14|        f|205.0|             2|           364|      78.63013698630137|              43|           214|             39|            66|         61|           423|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
only showing top 5 rows

In [18]:
row_count = filtered_df.count()
column_count = len(filtered_df.columns)

print(f"Number of rows after filtering: {row_count}")
print(f"Number of columns: {column_count}")

Number of rows after filtering: 1852749
Number of columns: 30

## Data Validation

In [19]:
# Check for duplicate rows
duplicate_count = filtered_df.count() - filtered_df.dropDuplicates().count()
print(f"Number of duplicate rows: {duplicate_count}")

# Separate numeric and non-numeric columns
numeric_columns = [field.name for field in filtered_df.schema.fields if field.dataType in ['IntegerType', 'LongType', 'FloatType', 'DoubleType']]
non_numeric_columns = [field.name for field in filtered_df.schema.fields if field.dataType not in ['IntegerType', 'LongType', 'FloatType', 'DoubleType']]

# Check for null and missing values in numeric columns
null_counts_numeric = filtered_df.select([count(when(col(c).isNull() | isnan(col(c)), c)).alias(c) for c in numeric_columns])
null_counts_numeric.show()

# Check for null values in non-numeric columns
null_counts_non_numeric = filtered_df.select([count(when(col(c).isNull(), c)).alias(c) for c in non_numeric_columns])
null_counts_non_numeric.show()

# Verify data types
filtered_df.printSchema()

# Price should be non-negative
invalid_prices = filtered_df.filter(col("price") < 0).count()
print(f"Number of invalid price values: {invalid_prices}")

# Availability percentage should be between 0 and 100
invalid_availability = filtered_df.filter((col("availability_percentage") < 0) | (col("availability_percentage") > 100)).count()
print(f"Number of invalid availability_percentage values: {invalid_availability}")

# Uniqueness check for IDs
unique_id_count = filtered_df.select("id").distinct().count()
total_id_count = filtered_df.count()
print(f"Number of unique ids: {unique_id_count}, Total ids: {total_id_count}")

# Latitude should be between -90 and 90
invalid_latitude = filtered_df.filter((col("latitude") < -90) | (col("latitude") > 90)).count()
print(f"Number of invalid latitude values: {invalid_latitude}")

# Longitude should be between -180 and 180
invalid_longitude = filtered_df.filter((col("longitude") < -180) | (col("longitude") > 180)).count()
print(f"Number of invalid longitude values: {invalid_longitude}")

# Summary statistics
filtered_df.describe(["price", "minimum_nights", "number_of_reviews", "reviews_per_month", "availability_365", "availability_percentage"]).show()

# Distribution checks for specific columns
filtered_df.groupBy("room_type").count().show()
filtered_df.groupBy("neighbourhood_group").count().show()

# Consistency checks : Last review should be before the current date
invalid_last_review = filtered_df.filter(col("last_review") > current_date()).count()
print(f"Number of invalid last_review values: {invalid_last_review}")

Number of duplicate rows: 0
++
||
++
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
++
only showing top 20 rows

+---+----+-------+---------+-------------------+-------------+--------+---------+---------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+----------------------+-----------------+----+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
| id|name|host_id|host_name|neighbourhood_group|neighbourhood|latitude|longitude|room_type|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|license|days_since_last_review|room_type_encoded|date|available|price|minimum_nights|maximum_nights|availability_percentage|Germany_Tourists|Spain_Tourists|France_Tourists|Italy_Tourists|UK_Tourists|Total_Tourists|
+---+----+-------+---------+-------------------+-------------+--------+---------+---------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+----------------------+-----------------+----+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
|  0|   0|      0|        0|                  0|            0|       0|        0|        0|                0|          0|                0|                             0|               0|                    0|      0|                     0|                0|   0|        0|    0|             0|             0|                      0|               0|             0|              0|             0|          0|             0|
+---+----+-------+---------+-------------------+-------------+--------+---------+---------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+----------------------+-----------------+----+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- room_type: string (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: date (nullable = true)
 |-- reviews_per_month: double (nullable = false)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- license: string (nullable = false)
 |-- days_since_last_review: integer (nullable = true)
 |-- room_type_encoded: integer (nullable = false)
 |-- date: date (nullable = true)
 |-- available: string (nullable = true)
 |-- price: float (nullable = false)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- availability_percentage: double (nullable = true)
 |-- Germany_Tourists: long (nullable = false)
 |-- Spain_Tourists: long (nullable = false)
 |-- France_Tourists: long (nullable = false)
 |-- Italy_Tourists: long (nullable = false)
 |-- UK_Tourists: long (nullable = false)
 |-- Total_Tourists: long (nullable = false)

Number of invalid price values: 0
Number of invalid availability_percentage values: 0
Number of unique ids: 10058, Total ids: 1852749
Number of invalid latitude values: 0
Number of invalid longitude values: 0
+-------+------------------+------------------+------------------+------------------+------------------+-----------------------+
|summary|             price|    minimum_nights| number_of_reviews| reviews_per_month|  availability_365|availability_percentage|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------------+
|  count|           1852749|           1852749|           1852749|           1852749|           1852749|                1852749|
|   mean|282.94710130730067| 8.638110720880162| 72.18894194518523|1.8391745401017536| 186.6933275905155|      57.61262582176956|
| stddev| 745.0160948162579|21.303773488300134|108.79597821542934|  2.05048114270532|132.35903917429405|      33.13317147688888|
|    min|              10.0|                 1|                 1|              0.01|                 0|                    0.0|
|    max|           15000.0|              1124|              1941|              67.3|               365|                  100.0|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------------+

+---------------+-------+
|      room_type|  count|
+---------------+-------+
|    Shared room|  19705|
|     Hotel room|  19876|
|Entire home/apt|1256383|
|   Private room| 556785|
+---------------+-------+

+-------------------+------+
|neighbourhood_group| count|
+-------------------+------+
|             Gràcia|160921|
|         Sant Martí|169802|
|     Horta-Guinardó| 46730|
|          Les Corts| 36444|
|     Sants-Montjuïc|200388|
|         Nou Barris| 14980|
|Sarrià-Sant Gervasi| 84876|
|           Eixample|735338|
|        Sant Andreu| 19605|
|       Ciutat Vella|383665|
+-------------------+------+

Number of invalid last_review values: 0

## Store to Formatted Zone

In [20]:
delta_lake_path = "/content/drive/MyDrive/BDM/Data/Formatted_Zone/filtered_df"

filtered_df.write.format("delta").option("overwriteSchema", "true").mode("overwrite").save(delta_lake_path)

# Exploitation

## Descriptive Analysis

In [21]:
delta_lake_path = "/content/drive/MyDrive/BDM/Data/Formatted_Zone/filtered_df"

# Read the Delta Lake table
filtered_df = spark.read.format("delta").load(delta_lake_path)
filtered_df.printSchema()
filtered_df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- room_type: string (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: date (nullable = true)
 |-- reviews_per_month: double (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- license: string (nullable = true)
 |-- days_since_last_review: integer (nullable = true)
 |-- room_type_encoded: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- available: string (nullable = true)
 |-- price: float (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- availability_percentage: double (nullable = true)
 |-- Germany_Tourists: long (nullable = true)
 |-- Spain_Tourists: long (nullable = true)
 |-- France_Tourists: long (nullable = true)
 |-- Italy_Tourists: long (nullable = true)
 |-- UK_Tourists: long (nullable = true)
 |-- Total_Tourists: long (nullable = true)

+-----+--------------------+-------+-------------+-------------------+------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
|   id|                name|host_id|    host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|    license|days_since_last_review|room_type_encoded|      date|available|price|minimum_nights|maximum_nights|availability_percentage|Germany_Tourists|Spain_Tourists|France_Tourists|Italy_Tourists|UK_Tourists|Total_Tourists|
+-----+--------------------+-------+-------------+-------------------+------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-06-14|        f| 95.0|             4|          1125|     10.684931506849315|              72|           249|             62|           100|         82|           565|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-03-14|        f| 95.0|             3|          1125|     10.684931506849315|              60|           238|             60|            81|         66|           505|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-05-01|        f| 95.0|             4|          1125|     10.684931506849315|              69|           270|             57|           101|         78|           575|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-03-26|        f| 95.0|             4|          1125|     10.684931506849315|              50|           231|             63|            93|         85|           522|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-06-15|        f| 95.0|             4|          1125|     10.684931506849315|              71|           289|             80|           105|         92|           637|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-04-22|        f| 95.0|             4|          1125|     10.684931506849315|              63|           233|             56|            91|         82|           525|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-03-17|        f| 95.0|             3|          1125|     10.684931506849315|              48|           244|             77|            78|         82|           529|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-06-04|        f| 95.0|             4|          1125|     10.684931506849315|              65|           254|             77|            87|         97|           580|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-04-02|        f| 95.0|             4|          1125|     10.684931506849315|              73|           255|             77|            82|         86|           573|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-10|        f| 95.0|             2|          1125|     10.684931506849315|              59|           252|             63|            87|         78|           539|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-16|        f| 95.0|             2|          1125|     10.684931506849315|              60|           226|             55|            76|         77|           494|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-23|        f| 95.0|             3|          1125|     10.684931506849315|              57|           227|             58|            78|         70|           490|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-01-25|        f| 95.0|             2|          1125|     10.684931506849315|              38|           224|             47|            55|         52|           416|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-01-21|        t| 95.0|             2|          1125|     10.684931506849315|              41|           212|             43|            66|         58|           420|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-28|        f| 95.0|             4|          1125|     10.684931506849315|              61|           231|             55|            71|         64|           482|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-26|        f| 95.0|             4|          1125|     10.684931506849315|              55|           242|             65|            79|         77|           518|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-05-22|        f| 95.0|             4|          1125|     10.684931506849315|              75|           277|             89|           108|         80|           629|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-03-29|        f| 95.0|             4|          1125|     10.684931506849315|              69|           272|             72|            89|         71|           573|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-01-30|        t| 95.0|             3|          1125|     10.684931506849315|              54|           200|             50|            69|         57|           430|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-25|        f| 95.0|             4|          1125|     10.684931506849315|              50|           207|             52|            73|         66|           448|
+-----+--------------------+-------+-------------+-------------------+------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
only showing top 20 rows

### KPIs

In [22]:
# Average price per area
avg_price_per_neighbourhood_group = filtered_df.groupBy("neighbourhood_group").agg(F.avg("price").alias("average_price"))
avg_price_per_neighbourhood_group.show()

# Average price per room type
avg_price_per_room_type = filtered_df.groupBy("room_type").agg(F.avg("price").alias("average_price"))
avg_price_per_room_type.show()

# Vacancy rate per area
availability_rate_per_neighbourhood_group = filtered_df.groupBy("neighbourhood_group").agg(F.avg("availability_percentage").alias("availability_rate"))
availability_rate_per_neighbourhood_group.show()

# Trends in the total number of tourists per month
monthly_tourists_trend = filtered_df.groupBy(F.month("date").alias("month")).agg(F.sum("Total_Tourists").alias("total_tourists"))
monthly_tourists_trend.show()

# Save KPIs
avg_price_per_neighbourhood_group.coalesce(1).write.csv("/content/drive/MyDrive/BDM/Data/Exploitation_Zone/KPIs/avg_price_per_neighbourhood_group.csv", header=True, mode="overwrite")
avg_price_per_room_type.coalesce(1).write.csv("/content/drive/MyDrive/BDM/Data/Exploitation_Zone/KPIs/avg_price_per_room_type.csv", header=True, mode="overwrite")
availability_rate_per_neighbourhood_group.coalesce(1).write.csv("/content/drive/MyDrive/BDM/Data/Exploitation_Zone/KPIs/availability_rate_per_neighbourhood_group.csv", header=True, mode="overwrite")
monthly_tourists_trend.coalesce(1).write.csv("/content/drive/MyDrive/BDM/Data/Exploitation_Zone/KPIs/monthly_tourists_trend.csv", header=True, mode="overwrite")

+-------------------+------------------+
|neighbourhood_group|     average_price|
+-------------------+------------------+
|             Gràcia|252.91087552277205|
|         Sant Martí| 309.8315567543374|
|     Horta-Guinardó|129.51123475283543|
|          Les Corts|172.57770826473492|
|     Sants-Montjuïc|201.66637722817734|
|         Nou Barris| 95.39879839786381|
|Sarrià-Sant Gervasi|206.81039398652152|
|           Eixample| 361.8364371214326|
|        Sant Andreu|179.96796735526652|
|       Ciutat Vella|233.49953475036816|
+-------------------+------------------+

+---------------+------------------+
|      room_type|     average_price|
+---------------+------------------+
|    Shared room| 218.7249429078914|
|     Hotel room|1315.9984906419802|
|Entire home/apt|313.38256805448657|
|   Private room|179.66480239230583|
+---------------+------------------+

+-------------------+------------------+
|neighbourhood_group| availability_rate|
+-------------------+------------------+
|             Gràcia|60.285891175390205|
|         Sant Martí| 58.84857948789674|
|     Horta-Guinardó| 59.28015664858384|
|          Les Corts| 52.46550739677819|
|     Sants-Montjuïc|57.030242944080804|
|         Nou Barris|56.391029844317885|
|Sarrià-Sant Gervasi| 65.88550901789945|
|           Eixample| 59.41878639723153|
|        Sant Andreu| 61.05929127745021|
|       Ciutat Vella|  51.1140616112743|
+-------------------+------------------+

+-----+--------------+
|month|total_tourists|
+-----+--------------+
|   12|      99339025|
|    1|     135430970|
|    6|      87645412|
|    3|     158916400|
|    5|     186565842|
|    4|     175934536|
|    2|     137512976|
+-----+--------------+

## Predictive Analysis

In [23]:
delta_lake_path = "/content/drive/MyDrive/BDM/Data/Formatted_Zone/filtered_df"

# Read the Delta Lake table
filtered_df = spark.read.format("delta").load(delta_lake_path)
filtered_df.printSchema()
filtered_df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- room_type: string (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: date (nullable = true)
 |-- reviews_per_month: double (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- license: string (nullable = true)
 |-- days_since_last_review: integer (nullable = true)
 |-- room_type_encoded: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- available: string (nullable = true)
 |-- price: float (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- availability_percentage: double (nullable = true)
 |-- Germany_Tourists: long (nullable = true)
 |-- Spain_Tourists: long (nullable = true)
 |-- France_Tourists: long (nullable = true)
 |-- Italy_Tourists: long (nullable = true)
 |-- UK_Tourists: long (nullable = true)
 |-- Total_Tourists: long (nullable = true)

+-----+--------------------+-------+-------------+-------------------+------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
|   id|                name|host_id|    host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|    license|days_since_last_review|room_type_encoded|      date|available|price|minimum_nights|maximum_nights|availability_percentage|Germany_Tourists|Spain_Tourists|France_Tourists|Italy_Tourists|UK_Tourists|Total_Tourists|
+-----+--------------------+-------+-------------+-------------------+------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-06-14|        f| 95.0|             4|          1125|     10.684931506849315|              72|           249|             62|           100|         82|           565|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-03-14|        f| 95.0|             3|          1125|     10.684931506849315|              60|           238|             60|            81|         66|           505|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-05-01|        f| 95.0|             4|          1125|     10.684931506849315|              69|           270|             57|           101|         78|           575|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-03-26|        f| 95.0|             4|          1125|     10.684931506849315|              50|           231|             63|            93|         85|           522|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-06-15|        f| 95.0|             4|          1125|     10.684931506849315|              71|           289|             80|           105|         92|           637|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-04-22|        f| 95.0|             4|          1125|     10.684931506849315|              63|           233|             56|            91|         82|           525|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-03-17|        f| 95.0|             3|          1125|     10.684931506849315|              48|           244|             77|            78|         82|           529|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-06-04|        f| 95.0|             4|          1125|     10.684931506849315|              65|           254|             77|            87|         97|           580|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-04-02|        f| 95.0|             4|          1125|     10.684931506849315|              73|           255|             77|            82|         86|           573|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-10|        f| 95.0|             2|          1125|     10.684931506849315|              59|           252|             63|            87|         78|           539|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-16|        f| 95.0|             2|          1125|     10.684931506849315|              60|           226|             55|            76|         77|           494|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-23|        f| 95.0|             3|          1125|     10.684931506849315|              57|           227|             58|            78|         70|           490|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-01-25|        f| 95.0|             2|          1125|     10.684931506849315|              38|           224|             47|            55|         52|           416|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-01-21|        t| 95.0|             2|          1125|     10.684931506849315|              41|           212|             43|            66|         58|           420|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-28|        f| 95.0|             4|          1125|     10.684931506849315|              61|           231|             55|            71|         64|           482|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-26|        f| 95.0|             4|          1125|     10.684931506849315|              55|           242|             65|            79|         77|           518|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-05-22|        f| 95.0|             4|          1125|     10.684931506849315|              75|           277|             89|           108|         80|           629|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-03-29|        f| 95.0|             4|          1125|     10.684931506849315|              69|           272|             72|            89|         71|           573|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-01-30|        t| 95.0|             3|          1125|     10.684931506849315|              54|           200|             50|            69|         57|           430|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-02-25|        f| 95.0|             4|          1125|     10.684931506849315|              50|           207|             52|            73|         66|           448|
+-----+--------------------+-------+-------------+-------------------+------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
only showing top 20 rows

In [82]:
from pyspark.sql.functions import col, mean

mean_total_tourists = filtered_df.select(mean(col("Total_Tourists"))).collect()[0][0]

filtered_df = filtered_df.withColumn("Label", (col("Total_Tourists") > mean_total_tourists).cast("int"))

rdd_df = filtered_df.select("Germany_Tourists", "Italy_Tourists", "Label").limit(100000)

rdd = rdd_df.rdd

print(rdd.take(5))

labeled_data = rdd.map(lambda row: LabeledPoint(row.Label, [row.Germany_Tourists, row.Italy_Tourists]))

train_data, test_data = labeled_data.randomSplit([0.8, 0.2], seed=42)

[Row(Germany_Tourists=57, Italy_Tourists=101, Label=1), Row(Germany_Tourists=62, Italy_Tourists=109, Label=1), Row(Germany_Tourists=52, Italy_Tourists=92, Label=0), Row(Germany_Tourists=57, Italy_Tourists=103, Label=1), Row(Germany_Tourists=64, Italy_Tourists=95, Label=1)]

In [83]:
model = LogisticRegressionWithSGD.train(train_data, iterations=10)

test_features = test_data.map(lambda x: x.features)
predictions = model.predict(test_features)

labels_and_predictions = test_data.map(lambda lp: lp.label).zip(predictions)

print("Labels and Predictions: ", labels_and_predictions.take(10))

accuracy = labels_and_predictions.filter(lambda x: x[0] == x[1]).count() / float(test_data.count())
print(f"Model accuracy: {accuracy * 100:.2f}%")

Labels and Predictions:  [(1.0, 0), (0.0, 0), (1.0, 0), (0.0, 0), (0.0, 0), (0.0, 0), (0.0, 0), (0.0, 0), (0.0, 0), (1.0, 0)]
Model accuracy: 51.68%

In [75]:
# 将预测结果转换为DataFrame
from pyspark.sql.types import StructType, StructField, DoubleType
schema = StructType([StructField("label", DoubleType(), True), StructField("prediction", DoubleType(), True)])
predictions_df = spark.createDataFrame(valid_predictions, schema)

# 计算均方误差
from pyspark.sql.functions import col
mse = predictions_df.withColumn("squared_error", (col("label") - col("prediction")) ** 2).agg({"squared_error": "mean"}).collect()[0]["avg(squared_error)"]
print(f"Mean Squared Error = {mse}")

Py4JJavaError: An error occurred while calling o2644.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 2045.0 failed 1 times, most recent failure: Lost task 0.0 in stage 2045.0 (TID 13192) (6c6d0de9794f executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 1247, in main
    process()
  File "/usr/local/lib/python3.10/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 1239, in process
    serializer.dump_stream(out_iter, outfile)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 274, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/usr/local/lib/python3.10/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 83, in wrapper
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/session.py", line 1459, in prepare
    verify_func(obj)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/types.py", line 2187, in verify
    verify_value(obj)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/types.py", line 2160, in verify_struct
    verifier(v)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/types.py", line 2187, in verify
    verify_value(obj)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/types.py", line 2181, in verify_default
    verify_acceptable_types(obj)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/types.py", line 2006, in verify_acceptable_types
    raise PySparkTypeError(
pyspark.errors.exceptions.base.PySparkTypeError: [CANNOT_ACCEPT_OBJECT_IN_TYPE] `DoubleType()` can not accept object `-1.7801352675494917e+126` in type `float64`.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:784)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:766)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.hashAgg_doAggregateWithoutKey_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 1247, in main
    process()
  File "/usr/local/lib/python3.10/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 1239, in process
    serializer.dump_stream(out_iter, outfile)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 274, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/usr/local/lib/python3.10/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 83, in wrapper
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/session.py", line 1459, in prepare
    verify_func(obj)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/types.py", line 2187, in verify
    verify_value(obj)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/types.py", line 2160, in verify_struct
    verifier(v)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/types.py", line 2187, in verify
    verify_value(obj)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/types.py", line 2181, in verify_default
    verify_acceptable_types(obj)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/sql/types.py", line 2006, in verify_acceptable_types
    raise PySparkTypeError(
pyspark.errors.exceptions.base.PySparkTypeError: [CANNOT_ACCEPT_OBJECT_IN_TYPE] `DoubleType()` can not accept object `-1.7801352675494917e+126` in type `float64`.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:784)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:766)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.hashAgg_doAggregateWithoutKey_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)

### Data Splict

In [24]:
filtered_df = filtered_df.withColumn("date", col("date").cast("date"))
filtered_df.printSchema()
filtered_df.show(5)

window_spec = Window.partitionBy("id").orderBy("date")

filtered_df = filtered_df.withColumn("next_day_tourists", lead("Total_Tourists").over(window_spec))

filtered_df = filtered_df.filter(col("next_day_tourists").isNotNull())

filtered_df.show(5)

feature_columns = [
    "host_id", "latitude", "longitude", "room_type_encoded", "number_of_reviews",
    "reviews_per_month", "calculated_host_listings_count", "availability_365",
    "days_since_last_review", "price", "minimum_nights", "maximum_nights",
    "availability_percentage", "Germany_Tourists", "Spain_Tourists", "France_Tourists",
    "Italy_Tourists", "UK_Tourists", "Total_Tourists"
]
target_column = "next_day_tourists"

train_ratio = 0.8
train_df, test_df = filtered_df.randomSplit([train_ratio, 1 - train_ratio], seed=42)

train_df.show(5)
test_df.show(5)

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- room_type: string (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: date (nullable = true)
 |-- reviews_per_month: double (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- license: string (nullable = true)
 |-- days_since_last_review: integer (nullable = true)
 |-- room_type_encoded: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- available: string (nullable = true)
 |-- price: float (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- availability_percentage: double (nullable = true)
 |-- Germany_Tourists: long (nullable = true)
 |-- Spain_Tourists: long (nullable = true)
 |-- France_Tourists: long (nullable = true)
 |-- Italy_Tourists: long (nullable = true)
 |-- UK_Tourists: long (nullable = true)
 |-- Total_Tourists: long (nullable = true)

+-----+--------------------+-------+-------------+-------------------+------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
|   id|                name|host_id|    host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|    license|days_since_last_review|room_type_encoded|      date|available|price|minimum_nights|maximum_nights|availability_percentage|Germany_Tourists|Spain_Tourists|France_Tourists|Italy_Tourists|UK_Tourists|Total_Tourists|
+-----+--------------------+-------+-------------+-------------------+------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-06-14|        f| 95.0|             4|          1125|     10.684931506849315|              72|           249|             62|           100|         82|           565|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-03-14|        f| 95.0|             3|          1125|     10.684931506849315|              60|           238|             60|            81|         66|           505|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-05-01|        f| 95.0|             4|          1125|     10.684931506849315|              69|           270|             57|           101|         78|           575|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-03-26|        f| 95.0|             4|          1125|     10.684931506849315|              50|           231|             63|            93|         85|           522|
|18674|Rental unit in Ba...|  71615|Mireia  Maria|           Eixample|la Sagrada Família|41.40556|  2.17262|Entire home/apt|               40| 2023-11-07|             0.31|                            30|              39|                    7|HUTB-002062|                   225|                1|2024-06-15|        f| 95.0|             4|          1125|     10.684931506849315|              71|           289|             80|           105|         92|           637|
+-----+--------------------+-------+-------------+-------------------+------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+
only showing top 5 rows

+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+-----------------+
|   id|                name|host_id|host_name|neighbourhood_group|       neighbourhood|latitude|longitude|      room_type|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|    license|days_since_last_review|room_type_encoded|      date|available|price|minimum_nights|maximum_nights|availability_percentage|Germany_Tourists|Spain_Tourists|France_Tourists|Italy_Tourists|UK_Tourists|Total_Tourists|next_day_tourists|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+-----------------+
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-14|        f|205.0|             4|           364|      78.63013698630137|              57|           249|             73|           101|         76|           556|              592|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-15|        f|205.0|             4|           364|      78.63013698630137|              62|           261|             84|           109|         76|           592|              489|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-16|        f|205.0|             4|           364|      78.63013698630137|              52|           227|             46|            92|         72|           489|              544|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-17|        f|205.0|             4|           364|      78.63013698630137|              57|           233|             70|           103|         81|           544|              579|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-18|        f|205.0|             1|           364|      78.63013698630137|              64|           262|             74|            95|         84|           579|              544|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+-----------------+
only showing top 5 rows

+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+-----------------+
|   id|                name|host_id|host_name|neighbourhood_group|       neighbourhood|latitude|longitude|      room_type|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|    license|days_since_last_review|room_type_encoded|      date|available|price|minimum_nights|maximum_nights|availability_percentage|Germany_Tourists|Spain_Tourists|France_Tourists|Italy_Tourists|UK_Tourists|Total_Tourists|next_day_tourists|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+-----------------+
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-14|        f|205.0|             4|           364|      78.63013698630137|              57|           249|             73|           101|         76|           556|              592|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-15|        f|205.0|             4|           364|      78.63013698630137|              62|           261|             84|           109|         76|           592|              489|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-17|        f|205.0|             4|           364|      78.63013698630137|              57|           233|             70|           103|         81|           544|              579|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-18|        f|205.0|             1|           364|      78.63013698630137|              64|           262|             74|            95|         84|           579|              544|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-19|        f|205.0|             2|           364|      78.63013698630137|              61|           265|             61|            90|         67|           544|              571|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+-----------------+
only showing top 5 rows

+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+-----------------+
|   id|                name|host_id|host_name|neighbourhood_group|       neighbourhood|latitude|longitude|      room_type|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|    license|days_since_last_review|room_type_encoded|      date|available|price|minimum_nights|maximum_nights|availability_percentage|Germany_Tourists|Spain_Tourists|France_Tourists|Italy_Tourists|UK_Tourists|Total_Tourists|next_day_tourists|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+-----------------+
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-16|        f|205.0|             4|           364|      78.63013698630137|              52|           227|             46|            92|         72|           489|              544|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-20|        f|205.0|             2|           364|      78.63013698630137|              56|           258|             79|            98|         80|           571|              579|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-22|        f|205.0|             2|           364|      78.63013698630137|              65|           269|             89|           113|         83|           619|              539|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2023-12-27|        f|205.0|             2|           364|      78.63013698630137|              54|           247|             81|            95|         81|           558|              562|
|40983|Condo in Barcelon...| 177617|  Joaquin|           Eixample|la Dreta de l'Eix...|41.39631|  2.16832|Entire home/apt|              290| 2023-11-16|             1.91|                             6|             287|                   39|HUTB-001282|                   216|                1|2024-01-02|        t|205.0|             1|           364|      78.63013698630137|              56|           212|             67|            82|         73|           490|              477|
+-----+--------------------+-------+---------+-------------------+--------------------+--------+---------+---------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-----------+----------------------+-----------------+----------+---------+-----+--------------+--------------+-----------------------+----------------+--------------+---------------+--------------+-----------+--------------+-----------------+
only showing top 5 rows

### Model Training

In [25]:
# Define the features and label columns for the VectorAssembler
assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")

# Transform the training and test sets
train_df = assembler.transform(train_df).select("features", col(target_column).alias("label"))
test_df = assembler.transform(test_df).select("features", col(target_column).alias("label"))

lr = LinearRegression(featuresCol="features", labelCol="label")
lr_model = lr.fit(train_df)

predictions = lr_model.transform(test_df)

predictions.select("features", "label", "prediction").show(5)

+--------------------+-----+-----------------+
|            features|label|       prediction|
+--------------------+-----+-----------------+
|[177617.0,41.3963...|  544|527.7573673722007|
|[177617.0,41.3963...|  579|533.7668767812655|
|[177617.0,41.3963...|  539|565.6336362187195|
|[177617.0,41.3963...|  562|523.4028226708232|
|[177617.0,41.3963...|  477| 502.604398591066|
+--------------------+-----+-----------------+
only showing top 5 rows

### Model Validation

In [26]:
# Evaluate the model using RMSE, MAE, and R2
evaluator_rmse = RegressionEvaluator(labelCol="label", predictionCol="prediction", metricName="rmse")
rmse = evaluator_rmse.evaluate(predictions)

evaluator_mae = RegressionEvaluator(labelCol="label", predictionCol="prediction", metricName="mae")
mae = evaluator_mae.evaluate(predictions)

evaluator_r2 = RegressionEvaluator(labelCol="label", predictionCol="prediction", metricName="r2")
r2 = evaluator_r2.evaluate(predictions)

print(f"Root Mean Squared Error (RMSE) on test data = {rmse}")
print(f"Mean Absolute Error (MAE) on test data = {mae}")
print(f"R-squared (R2) on test data = {r2}")

Root Mean Squared Error (RMSE) on test data = 48.87104892571636
Mean Absolute Error (MAE) on test data = 40.433859916921726
R-squared (R2) on test data = 0.5263993754115708

### Model & Predictions Store

In [62]:
predictions_df = predictions.toDF(["prediction", "label"])

predictions_path = "/content/drive/MyDrive/BDM/Data/Exploitation_Zone/predictions.csv"
predictions_df.write.mode("overwrite").csv(predictions_path, header=True)
print(f"Predictions saved to {predictions_path}")

PySparkTypeError: [CANNOT_INFER_TYPE_FOR_FIELD] Unable to infer the type of the field `label`.

In [55]:
model_path = "/content/drive/MyDrive/BDM/Data/Exploitation_Zone/lr_model"
model.write().overwrite().save(model_path)
print(f"Model saved to {model_path}")

Py4JJavaError: An error occurred while calling o1725.save.
: org.apache.hadoop.mapred.FileAlreadyExistsException: Output directory file:/content/drive/MyDrive/BDM/Data/Exploitation_Zone/lr_model/metadata already exists
	at org.apache.hadoop.mapred.FileOutputFormat.checkOutputSpecs(FileOutputFormat.java:131)
	at org.apache.spark.internal.io.HadoopMapRedWriteConfigUtil.assertConf(SparkHadoopWriter.scala:299)
	at org.apache.spark.internal.io.SparkHadoopWriter$.write(SparkHadoopWriter.scala:71)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopDataset$1(PairRDDFunctions.scala:1091)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopDataset(PairRDDFunctions.scala:1089)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$4(PairRDDFunctions.scala:1062)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:1027)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$3(PairRDDFunctions.scala:1009)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:1008)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$2(PairRDDFunctions.scala:965)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:963)
	at org.apache.spark.rdd.RDD.$anonfun$saveAsTextFile$2(RDD.scala:1623)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.RDD.saveAsTextFile(RDD.scala:1623)
	at org.apache.spark.rdd.RDD.$anonfun$saveAsTextFile$1(RDD.scala:1609)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.RDD.saveAsTextFile(RDD.scala:1609)
	at org.apache.spark.mllib.regression.impl.GLMRegressionModel$SaveLoadV1_0$.save(GLMRegressionModel.scala:56)
	at org.apache.spark.mllib.regression.LinearRegressionModel.save(LinearRegression.scala:51)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

# Stream analytics

## Data Flow Simulator Prepare

In [29]:
sample_df = filtered_df.limit(10).toPandas()

sample_df['date'] = sample_df['date'].astype(str)
sample_df['last_review'] = sample_df['last_review'].astype(str)

data_dir = "/content/data_stream"
os.makedirs(data_dir, exist_ok=True)

## Spark Streaming

In [30]:
for index, row in sample_df.iterrows():
    message = row.to_dict()
    file_path = os.path.join(data_dir, f"data_{index}.json")
    with open(file_path, "w") as file:
        json.dump(message, file)
    time.sleep(1)

schema = StructType([
    StructField("id", LongType(), True),
    StructField("host_id", IntegerType(), True),
    StructField("latitude", DoubleType(), True),
    StructField("longitude", DoubleType(), True),
    StructField("number_of_reviews", IntegerType(), True),
    StructField("last_review", StringType(), True),
    StructField("reviews_per_month", DoubleType(), True),
    StructField("calculated_host_listings_count", IntegerType(), True),
    StructField("availability_365", IntegerType(), True),
    StructField("number_of_reviews_ltm", IntegerType(), True),
    StructField("days_since_last_review", IntegerType(), True),
    StructField("room_type_encoded", IntegerType(), True),
    StructField("date", StringType(), True),
    StructField("price", DoubleType(), True),
    StructField("minimum_nights", IntegerType(), True),
    StructField("maximum_nights", IntegerType(), True),
    StructField("availability_percentage", DoubleType(), True),
    StructField("Germany_Tourists", LongType(), True),
    StructField("Spain_Tourists", LongType(), True),
    StructField("France_Tourists", LongType(), True),
    StructField("Italy_Tourists", LongType(), True),
    StructField("UK_Tourists", LongType(), True),
    StructField("Total_Tourists", LongType(), True),
])

model_path = "/content/drive/MyDrive/BDM/Data/Exploitation_Zone/lr_model"
lr_model = LinearRegressionModel.load(model_path)

df_stream = spark \
    .readStream \
    .schema(schema) \
    .json("/content/data_stream")

feature_columns = [
    "host_id", "latitude", "longitude", "room_type_encoded", "number_of_reviews",
    "reviews_per_month", "calculated_host_listings_count", "availability_365",
    "days_since_last_review", "price", "minimum_nights", "maximum_nights",
    "availability_percentage", "Germany_Tourists", "Spain_Tourists", "France_Tourists",
    "Italy_Tourists", "UK_Tourists", "Total_Tourists"
]

assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
df_features = assembler.transform(df_stream)

predictions = lr_model.transform(df_features)

output_path = "/content/predictions_output"

query = predictions.select("features", "prediction", "Total_Tourists", "date").writeStream \
    .outputMode("append") \
    .format("json") \
    .option("path", output_path) \
    .option("checkpointLocation", "/content/checkpoint") \
    .start()

time.sleep(20)
query.stop()

result_files = glob.glob(f"{output_path}/*.json")
results = []

for file in result_files:
    with open(file, "r") as f:
        for line in f:
            results.append(json.loads(line))

results_df = pd.DataFrame(results)
print(results_df.head())

                                            features  prediction  \
0  {'type': 1, 'values': [177617.0, 41.39631, 2.1...  527.757367
1  {'type': 1, 'values': [177617.0, 41.39631, 2.1...  559.923428
2  {'type': 1, 'values': [177617.0, 41.39631, 2.1...  531.275637
3  {'type': 1, 'values': [177617.0, 41.39631, 2.1...  533.766877
4  {'type': 1, 'values': [177617.0, 41.39631, 2.1...  538.804282

   Total_Tourists        date
0             489  2023-12-16
1             579  2023-12-18
2             544  2023-12-19
3             571  2023-12-20
4             539  2023-12-23